/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: #000000;
    color: #1fddff ; 
  }
  
  div.title {
    font-style: italic;
    color: #373fff;
  }
  
  div.footer {
      position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  